{% extends 'layout.html' %}
{%  block content %}
<div id="frontpage-hero-wrapper" class="hero is-medium">
    <div class="hero-body">
        <div class="container" id="hero-text-wrapper">
            <h1 class="title" id='hero-title'>TED<sup>x</sup> Abakaliki</h1>
            <p class="tag-line-1" id="tag-line-1">Illumination - Convergence and divergence of light</p>
            <div class="action-button-wrapper" id="action-button-wrapper">
                <a target="_blank" rel="noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSf2nKMKlmmrCUVrW-6PvxKhiOG3ZLxtPmHz5FKdUZsSWmvOmg/viewform?usp=sf_link" class="button is-rounded is-large">Register Now</a>
            </div>
        </div>
    </div>
</div>
<!-- <div id="frontpage-countdown"> -->
    <div id="countdown-wrapper" class="countdown-wrapper">
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
    </div>
</div>
<div class="ted-about-wrapper" id="ted-about-wrapper">
    <div class="columns">
        <div class="column" id="frontpage-about-ted">
            <div class="">
                <h3 class="subtitle">About TED</h3>
                <p>
                    TED is a global community, welcoming people from every discipline and culture who seek
                    a deeper understanding of the world.
                    We believe passionately in the power of ideas to change attitudes, lives and, ultimately, the world.
                </p>
            </div>
        </div>
        <div class="column" id="frontpage-about-tedx">
            <div class=" ">
                <h3 class="subtitle">About TED <sup>x</sup></h3>
                <p>
                    TED<sup>x</sup> was created in the spirit of TED’s mission, “ideas worth spreading.”
                    It supports independent organizers who want to create a TED-like event in their own community.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="frontpage-about-tedx-ebonyi" id="frontpage-about-tedx-ebonyi">
    <div class="">
        <p>
            TED<sup>x</sup>Abakaliki is an annual TED<sup>x</sup> conference that aspires to bring
            together Nigeria’s best scientists, entrepreneurs, professionals, innovators
            and reformers to share ideas that would spark deep discussions and birth new
            ideas that will change our society.
        </p>
    </div>
</div>

<div class="_frontpage-speakers" id="_frontpage-speakers">
    <h2 id="_speakers_heading" >Speakers at Ted<sup>x</sup> Abakaliki 2019</h2>
    <div id="_speakers-image-wrapper">
        <div id="fp_speaker_images" class="glide fp_speaker_images">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/1.jpg') }} alt="people">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/2.jpg') }} alt="culture">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/3.jpg') }} alt="stroy">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/4.jpg') }} alt="education">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/5.jpg') }} alt="heritage">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/6.jpg') }} alt="past">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/7.jpg') }} alt="tradition">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/speakers/8.jpg') }} alt="tradition">
                    </div>
                </div>
            </div>
            <div id="_speakers-gallery-arrows" class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left button" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right button" data-glide-dir=">">next</button>
            </div>
        </div>
    </div>
</div>

<div class="frontpage-time-date" id="frontpage-time-date">
    <div id="__frontpage-time-inner-wrapper">
        <h1>Saturday 5th, October 2019</h1>
        <h1>9 : 00 AM</h1>
        <a target="_blank" rel="noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSf2nKMKlmmrCUVrW-6PvxKhiOG3ZLxtPmHz5FKdUZsSWmvOmg/viewform?usp=sf_link" class="button is-rounded is-large">Register Now</a>
    </div>
</div>

<div class="frontpage-location" id="frontpage-location">
    <div id="location_background__overlay">
        <div id="frontpage-location-inner-wrapper">
            <h1 class="title __location-text" id="location__title">LOCATION</h1>
            <h2 class="subtitle __location-text">Bethel City Auditorium</h2>
            <h3 class="subtitle __location-text">39 Water Works Road, CAS, Abakaliki</h3>
        </div>
    </div>
</div>
<div class="frontpage-gallery" id="frontpage-gallery">
    <div id="__fp-gallary">
        <div id="fp_images" class="glide fp_images">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/people.jpg') }} alt="people">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/culture.jpg') }} alt="culture">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/story.jpg') }} alt="stroy">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/education-a-force-to-change.jpg') }} alt="education">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/heritage.jpg') }} alt="heritage">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/past.jpg') }} alt="past">
                    </div>
                    <div class="glide__slide">
                        <img src={{ url_for('static', filename='images/tradition.jpg') }} alt="tradition">
                    </div>
                </div>
            </div>
            <div id="fp-gallery-arrows" class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left button" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right button" data-glide-dir=">">next</button>
            </div>
        </div>
    </div>
</div>

{%  endblock content %}
