<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="TEDxAbakaliki is an annual TEDx conference that aspires to bring together Nigeria’s best scientists, entrepreneurs, professionals, innovators and reformers to share ideas that would spark deep discussions and birth new ideas that will change our society."/>
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href={{ url_for('static', filename='manifest.json') }}>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147262774-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147262774-1');
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Event",
          "url": "https://www.tedxabakaliki.com/",
          "image": "https://www.tedxabakaliki.com/static/images/illumination-dark-background.png",
          "name": "Tedx Abakaliki",
          "description": "Illumination - Convergence and divergence of light",
          "duration": "PT5H",
          "eventSchedule": {
             "@type": "Schedule",
             "startDate": "2019-10-05",
             "endDate": "2019-10-05",
             "repeatFrequency": "P1Y",
             "byDay": "http://schema.org/Saturday",
             "startTime": "09:00",
             "endTime": "16:00"
          },
          "location" : {
            "@type" : "Place",
            "sameAs" : "https://www.bethelcity.com",
            "name" : "Bethel City Church",
            "address" : {
              "@type" : "PostalAddress",
              "streetAddress" : "39 Water works road",
              "addressLocality" : "CAS",
              "addressRegion" : "Abakaliki",
              "postalCode" : "480242" }
          },
          "startDate" : "2019-10-05T09:00",
          "endDate" : "2019-10-05T15:00",
          "offers" : {
            "@type" : "Offer",
            "availability" : "http://schema.org/LimitedAvailability",
            "price" : "00.00",
            "currency": "NGN",
            "url" : "http://www.tedxabakaliki.com" },
          "typicalAgeRange" : "18+"
        }
        </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bulma.min.css') }} />
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }} />
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/countdown_timer.css') }} />
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='favicon/apple-touch-icon.png')}} />
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='favicon/favicon-32x32.png')}} />
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='favicon/favicon-16x16.png')}} />
    {% if title %}
    <title>Tedx Abakaliki - {{ title }}</title>
    {% else %}
    <title>Tedx Abakaliki</title>
    {% endif %}
    <script src="https://kit.fontawesome.com/f1afc290d0.js"></script>
</head>
<body>
    <nav class="navbar is-spaced">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src={{ url_for('static', filename='images/logo.png')}} alt="brand logo" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="ted__navigation_menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="ted__navigation_menu">
            <div class="navbar-end">
                <a href="/" class="navbar-item">Home</a>
                <a href="/speakers" class="navbar-item">Speakers</a>
                <a href="/videos" class="navbar-item">Videos</a>
                <!-- <a href="/blog" class="navbar-item">Blog</a> -->
            </div>
        </div>
    </nav>
    {%block content %} {% endblock %}
    <footer class="footer">
        <div class="footer-inner-wrapper">
            <div class="social-media" id="social-media">
                <a target="_blank" rel="noreferrer" href="https://facebook.com/tedxabakaliki" target="_blank" class="button">
                    <span class="icon">
                        <i class="fab fa-facebook"></i>
                    </span> &nbsp;
                    Facebook
                </a>
                <a target="_blank" rel="noreferrer" href="https://instagram.com/tedxabakaliki" target="_blank" class="button">
                    <span class="icon">
                        <i class="fab fa-instagram"></i>
                    </span> &nbsp;
                    Instagram
                </a>
                <a target="_blank" rel="noreferrer" href="https://twitter.com/tedxabakaliki" target="_blank" class="button">
                    <span class="icon">
                        <i class="fab fa-twitter"></i>
                    </span> &nbsp;
                    Twitter
                </a>
            </div>

            <div class="copyright-wrapper" id="copyright-wrapper">
                <p id="copyright-text">&copy; copyright 2019 Ted<sup>x</sup> Abakaliki. All right reseverd.</p>
                <p id="legal">TED and TED<sup>x</sup> are properties of their respective owners. And they are used here with their prior permission.</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script type="application/javascript">
        const glide = new Glide('.glide', {
            type: 'slider',
            startAt: 0,
            perView: 3,
            autoplay: 2500,
            hoverpause: true,
            keyboard: true,
        });

        glide.mount();
    </script>
    <script src={{ url_for('static', filename='js/countdown_timer.js') }}></script>
</body>
</html>
