{% extends 'layout.html' %}
{% block content %}
<section class="hero is-medium _other-page-hero">
    <div class="hero-body">
        <div class="container">
        <h1 class="title o_hero-title">
            2019 Speakers
        </h1>
        <h2 class="subtitle o_hero-subtitle">
            Sharing ideas that would spark deep discussions and birth new ideas that will change our society.
        </h2>
        </div>
    </div>
</section>
<section id="_sp-speakers-wrapper">
    <!-- <div class="card">
        <div class="card-image">
            <figure class="image is-128by128">
                <img src={{ url_for('static', filename='images/speakers/1.jpg') }} alt="John" alt="spark">
            </figure>
        </div>
        <div class="card-content">

            <div class="content">
                <p class="title is-4">John Smith</p>
            </div>
        </div>
    </div> -->
    <div class="columns">
        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/1.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Prof. Rina Okonkwo</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>

        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/2.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Emeka Odibeli</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>
    </div>

    <div class="columns">
        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/3.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Nafisa Atiku</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>

        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/4.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Agupusi Chizurum</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>
    </div>

    <div class="columns">
        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/5.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Obinna Uzoije</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>

        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/6.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Dr. Victor Otubo</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>
    </div>

    <div class="columns">
        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/7.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Ogechukwu Maduagwu</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>

        <div class="speaker-card column">
            <img src={{ url_for('static', filename='images/speakers/8.jpg') }} alt="John" style="width:100%" />
            <h1 class='subtitle'>Nkem Nweke</h1>
            <!-- <p class="_speaker-title">CEO & Founder, Example</p> -->
            <!-- <p>Harvard University</p>
            <a class='speaker-social-handle' href="#"><i class="fa fa-dribbble"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-twitter"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-linkedin"></i></a>
            <a class='speaker-social-handle' href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="speaker-contact-btn">Contact</button></p> -->
        </div>
    </div>

</section>
{% endblock content %}
