body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100%;
    max-height: 100vh;
}
#frontpage-hero-wrapper {
    background: url('../images/illumination-dark-background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-title {
    color: #ffffff;
    line-height: .5em;
    font-size: 2.5em;
    font-weight: 500;
}
#tag-line-1 {
    color: #ffffff;
    font-size: 1.3em;
}
#action-button-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
#action-button-wrapper > a {
    background-color: #e62b1e;
    border: 0;
    color: #fcf4f4;
}

#frontpage-about-ted {
    background-color: #fcf4f4;
    margin-top: 13px;
}

#frontpage-about-tedx {
    margin-top: 13px;
}
#frontpage-about-ted > div, #frontpage-about-tedx > div {
    padding: 10% 20% 15% 20%;
    line-height: .2em;
}
#frontpage-about-ted > div > h3, #frontpage-about-tedx > div > h3 {
    line-height: .5em;
    text-align:  right;
    padding-right: 5%;
}
#frontpage-about-tedx > div > h3 {
    line-height: .5em;
    text-align:  left;
    padding-left: 0;
}
#frontpage-about-ted > div > p, #frontpage-about-tedx > div > p {
    line-height: 1.5em;
    color: rgba(0, 0, 0, .6);
    font-weight: 300;
}

#frontpage-about-tedx-ebonyi {
    color: rgba(0, 0, 0, .6);
    font-weight: 300;
    font-size: 1.5em;
}
#frontpage-about-tedx-ebonyi > div {
    padding: 5% 12.5%;
    margin: 5% 12.5%;
}

#frontpage-time-date {
    background-color: #e62b1e;
    text-align: center;
    color: #ffffff;
}
#frontpage-location {
    width: 100%;
    background-image: url('../images/map_image.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Background attachment act weird on some browsers,keep an eye on it */
    background-attachment: fixed;
}

#location_background__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

#frontpage-location-inner-wrapper, .__location-text {
    color: #ffffff;
}
#location__title {
    color: #ffffff;
    letter-spacing: .3em;
    font-weight: 400;
    padding-bottom: .3em;
}

#__frontpage-time-inner-wrapper {
    padding: 7% 0;
}

#__frontpage-time-inner-wrapper > h1 {
    padding-bottom: 2%;
    font-weight: 900;
    font-size: 2em;
}

#__frontpage-time-inner-wrapper > a {
    color: #fcf4f4;
    background-color: #000000;
    border: 0;
}

#__fp-gallary {
    padding: 5% 20%;
}

#fp-gallery-arrows {
    text-align: center;
    padding: 1.5%;
}

.glide__slide > img {
    max-width: 100%;
    height: auto;
}

.footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #2b2929;
}

#footer-inner-wrapper {}

#social-media {
    padding: 1.5% 0 5% 0;
    text-align: center;
}

#copyright-wrapper {
    font-size: small;
    color: #ffffff;
    text-align: center;
    padding: 2% 0;
    background-color: #000000;
}

@media only screen and (max-width: 768px){

    #frontpage-hero-wrapper {
        background: #000000;
    }

    #action-button-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }

    #frontpage-about-ted > div, #frontpage-about-tedx > div {
        padding: 10%;
    }

    #frontpage-about-tedx-ebonyi > div {
        padding: 5%;
        margin: 5%;
    }
}
